* {box-sizing: border-box;}
body {font-family: Verdana, sans-serif;}
.mySlides {display: none;}
img {vertical-align: middle;}
body {
	background: linear-gradient(to bottom, #433282 110%, red 50%);
}
.topbody-container {
  margin-top: -45px;
  margin-left: -45px;
  margin-right: -45px;
  max-width: 2000px;
  background-color: #433282;
}

/* Slideshow container */
.slideshow-container {
  max-width: 1170px;
  max-height: 720px;
  position: relative;
  margin: auto;
  background-color: #433282;
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Top left text */
.top-left {
  position: absolute;
  top: 8px;
  left: 16px;
}

/* Top right text */
.top-right {
  position: absolute;
  top: 8px;
  right: 16px;
  color: white;
  font-family: Roboto,sans-serif;
}

/* Top right text */
.top-right-under {
  position: absolute;
  top: 8px;
  right: 16px;
  color: white;
  font-family: Roboto,sans-serif;
}

/* Bottom left text */
.bottom-left {
  position: absolute;
  bottom: -20px;
  left: 16px;
  font-family: sans-serif;
  opacity: 0.5;
}

/* The dots/bullets/indicators */
.dot {
  height: 8px;
  width: 8px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}